@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<br>
<div class="text-center">
    <h1 class="display-4">AgendamientoIPS</h1>
    <h5>Proyecto MINTIC2022, Grupo 32 Ciclo 3<br>Desarrollo de Software, Equipo 1<br><a
            href="https://github.com/Rosaubm/Agendamiento_NOPOR.git">Github AgendamientoIPS.App</a></h5><br>
</div>

<div class="text-center">
    <img src="/images/AgendamientoIPS.png" width="20%" alt="">
</div>

<hr>
<h2 class="text-primary">Construido con</h2>
<ul>
    <li><a href="https://code.visualstudio.com/" rel="nofollow">Visual Code Studio</a> - Editor de código fuente
        desarrollado.</li>
    <li><a href="https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15"
            rel="nofollow">SQL Server Managment Studio</a> - Ambiente integrado para la administración de la base de
        datos SQL en Windows.</li>
    <li><a href="https://docs.microsoft.com/en-us/sql/azure-data-studio/download-azure-data-studio?view=sql-server-ver15"
            rel="nofollow">Azure Data Studio</a> - Ambiente integrado para la administración de la base de datos SQL en
        Linux.</li>
</ul>
<hr>
<h2 class="text-primary">Autores</h2>
<ul>
    <li><strong>Neyla Villamizar</strong> - <em>Líder de Grupo</em> - <a
            href="https://github.com/NeylaVillamizar">NeylaVillamizar</a></li>
    <li><strong>Octavio Caraballo</strong> - <em>Diseñador UI</em> - <a href="https://github.com/OECA">OECA</a></li>
    <li><strong>Oscar Guerrero</strong> - <em>Administrador de la Configuración</em> - <a
            href="https://github.com/oscarjavierg">oscarjavierg</a></li>
    <li><strong>Patricia Torres</strong> - <em>Diseñador de Software</em> - <a
            href="https://github.com/Yepato">Yepato</a></li>
    <li><strong>Rosa Ubaque</strong> - <em>Tester</em> - <a href="https://github.com/Rosaubm">Rosaubm</a></li>
    <li><strong>Heri Londoño Salgado </strong> - <em>Docente</em> - <a href="https://github.com/herilon">herilon</a>
    </li>
</ul>