@page
@model AgendamientoIPS.App.Frontend.Pages.Sedes.IndexModel
@{
}
<a class="btn btn-primary" asp-page="./Create">Nueva Sede</a>
<h1>Sedes</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Ciudad</th>
            <th scope="col">NombreSede</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sede in Model.sedes)
        {
            <tr>
                <td>@sede.Ciudad</td>
                <td>@sede.NombreSede</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@sede.Id">
                     Detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
