@page
@model AgendamientoIPS.App.Frontend.Pages.Sedes.IndexModel
@{
    ViewData["Title"] = "Sedes";
}
<br>
<table style="width: 100%;">
    <tr style="width: 100%;">
        <td style="width: 80%;"><h1>Listado de Sedes</h1></td>
        <td style="width: 20%;" text-align="right";><a class="btn btn-success" asp-page="./Create">Nueva Sede</a></td>
    </tr>
</table>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Ciudad</th>
            <th scope="col">NombreSede</th>
            <th style="width: 20%;" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sede in Model.sedes)
        {
            <tr>
                <td>@sede.Ciudad</td>
                <td>@sede.NombreSede</td>
                <td style="width: 20%;">
                    <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-id="@sede.Id">Detalle</a>
                    <a class="btn btn-warning btn-sm" asp-page="./Edit" asp-route-id="@sede.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
