@page
@model AgendamientoIPS.App.FrontEnd.Pages.Facturas.AddCitaModel
@{
}
<h1>Asignar Cita</h1>
<form method="post">
    <div class="form-group">
        <label for="idFactura">Factura</label>
        <input type="text" id="idFactura" name="idFactura" class="form-control" value="@Model.factura.Id" readonly>
    </div>
    <div class="form-group">
        <label for="idCita">Paciente</label>
        <select name="idCita" id="idCita" class="form-control">
            @foreach (var cita in Model.citas)
            {
                <option value="@cita.Id">@cita.NumCita</option>   
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Asignar Cita</button>
</form>
<br>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>