@page
@model AgendamientoIPS.App.Frontend.Pages.Convenios.CreateModel
@{
}
<h1>Nuevo Convenio</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="convenio.NumConvenio">Número de Convenio</label>
        <input asp-for="convenio.NumConvenio" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="convenio.EPS"></label>
        <input asp-for="convenio.EPS" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="convenio.Descuento"></label>
        <input asp-for="convenio.Descuento" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Crear Convenio</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>