@page
@model AgendamientoIPS.App.Frontend.Pages.Convenios.DetailsModel
@{
}
<h1>Detalles del Convenio</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Convenio</th>
        <td>@Model.convenio.NumConvenio</td>
    </tr>
    <tr>
        <th scope="col">EPS</th>
        <td>@Model.convenio.EPS</td>
    </tr>
    <tr>
        <th scope="col">Descuento</th>
        <td>@Model.convenio.Descuento</td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>
