@page
@model AgendamientoIPS.App.Frontend.Pages.Convenios.DetailsModel
@{
    ViewData["Title"] = "Detalles del Convenio";
}
<br>
<h1>Detalles del Convenio</h1>
<table class="table table-borderless table-secondary">
    <tr>
        <th scope="col">Convenio</th>
        <td>@Model.convenio.NumConvenio</td>
    </tr>
    <tr>
        <th scope="col">EPS</th>
        <td>@Model.convenio.EPS</td>
    </tr>
    <tr>
        <th scope="col">Descuento</th>
        <td>@Model.convenio.Descuento%</td>
    </tr>
</table>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>

